<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-6">Create or Update Task</h2>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <!-- Task Name -->
      <mat-form-field class="w-full">
        <mat-label>Task Name</mat-label>
        <input
          matInput
          id="name"
          formControlName="name"
          placeholder="Enter task name"
          maxlength="50"
        />
        <mat-error
          *ngIf="
            taskForm.get('taskName')?.invalid &&
            taskForm.get('taskName')?.touched
          "
        >
          Task name is required and must be at most 50 characters.
        </mat-error>
      </mat-form-field>
      <!-- Assigned To -->
      <mat-form-field class="w-full">
        <mat-label>Assigned To</mat-label>
        <mat-select
          id="assignedTo"
          formControlName="assignedTo"
          [compareWith]="compareWith"
        >
          @for (user of users(); track $index) {
          <mat-option [value]="user">{{ user.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
      <!-- Priority -->
      <mat-form-field class="w-full">
        <mat-label>Priority</mat-label>
        <mat-select id="priority" formControlName="priority">
          @for (item of priorities; track $index) {
          <mat-option [value]="item">{{ item }}</mat-option>
          }
        </mat-select>
      </mat-form-field>

      <!-- Status -->
      <mat-form-field class="w-full">
        <mat-label>Status</mat-label>
        <mat-select id="status" formControlName="status">
          <mat-option value="Pending">Pending</mat-option>
          <mat-option value="InProgress">In Progress</mat-option>
          <mat-option value="Completed">Completed</mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Due Date -->
      <mat-form-field class="w-full">
        <mat-label>Choose a date</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="dueDate"
          [min]="today"
          readonly
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="grid grid-cols-1 gap-4">
      <!-- Description -->
      <mat-form-field class="w-full">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          id="description"
          formControlName="description"
          placeholder="Enter description (optional)"
          maxlength="200"
        ></textarea>
        <mat-error
          *ngIf="
            taskForm.get('description')?.invalid &&
            taskForm.get('description')?.touched
          "
        >
          Description must be at most 200 characters.
        </mat-error>
      </mat-form-field>
    </div>

    @if(this.editViewMode() !== 'view'){
    <!-- Submit Button -->
    <div class="flex justify-end">
      <button
        mat-raised-button
        type="submit"
        [disabled]="taskForm.invalid"
        class="px-4 py-2 rounded bg-gray-900 dark:bg-gray-800 text-white disabled:opacity-85 border-white"
      >
        Submit
      </button>
    </div>
    }
  </form>
</div>
